@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  scroll-behavior: smooth;
}

/* .hero-dark{
  background-image: url('/images/hero-dark.jpg');
  background-size: 86rem;
}
.hero-light{
  background-image: url('/images/hero-light.jpg');
  background-size: 86rem;
} */

.animate-car {
  animation-name: animate-car;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 100ms;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes animate-car {
  0% {
    transform: translate3d(-10px,10px,0) scale(0.8);
    
  }
  50%{
    transform: translate3d(-100px, 100px, -20px) scale(1.25);
  }
  100%{
    transform: translate3d(-10px, 10px, 0) ;
  }
}